configs/ST3User/Package\ Control.cache/
configs/ST3User/SublimeLinter/
configs/ST3User/Package\ Control.last-run
configs/ST3User/Package\ Control.merged-ca-bundle
configs/ST3User/Package\ Control.user-ca-bundle
