ACCEPT_KEYWORDS="amd64"
EMERGE_DEFAULT_OPTS="--usepkg --getbinpkg --quiet-build --binpkg-respect-use"
FEATURES="buildpkg parallel-fetch parallel-install binpkg-multi-instance"
USE="-consolekit systemd"
MAKEOPTS="-j$(nproc)"

{% if gentoo_distcc_instances > 0 %}
FEATURES="${FEATURES} distcc distcc-pump"
CC="distcc /usr/x86_64-pc-linux-gnu/gcc-bin/4.9.3/x86_64-pc-linux-gnu-gcc"
CXX="distcc /usr/x86_64-pc-linux-gnu/gcc-bin/4.9.3/x86_64-pc-linux-gnu-g++"
MAKEOPTS="-j$(($(nproc) + ${gentoo_distcc_instances}*4))"
{% endif %}

GENTOO_MIRRORS="${gentoo_binmirror} http://distfiles.gentoo.org/"
PORTAGE_BINHOST="${gentoo_binmirror}packages/"

PORTDIR="/usr/portage"
PORTAGE_RO_DISTDIRS="${PORTDIR}/distfiles"
DISTDIR="/var/lib/portage/distfiles/"
PKGDIR="/var/lib/portage/packages/"
RPMDIR="/var/lib/portage/rpms/"
