---
# go playbook - go get stuff

# We are using the standard `go` package from pacman

- name: install binary packages
  command: go get -u -v {{ item.src }}
  #creates: "/home/{{ user }}/.go/bin/{{ item.bin }}"
  when: upgrade_tasks | default(false)
  with_items:
  - { src: github.com/jessfraz/apk-file, bin: apk-file }
  - { src: github.com/sgreben/jp/cmd/jp, bin: jp }
  - { src: gopkg.in/Netflix-Skunkworks/go-jira.v1/cmd/jira, bin: jira }
