# Security - public keys only
PasswordAuthentication no
KbdInteractiveAuthentication no
AuthenticationMethods publickey
AuthorizedKeysFile .ssh/authorized_keys
PermitRootLogin no
X11Forwarding no

# Misc
Port 8702
PrintMotd no
LoginGraceTime 30
AllowTcpForwarding yes
Subsystem sftp internal-sftp
